/* Tipografía */
@font-face {
  font-family: "Saol Display Light";
  src: url("../assets/fonts/SaolDisplay-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Saol Display Regular";
  src: url("../assets/fonts/SaolDisplay-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: black;
  --primary: white;
  --secondary: #fcb42a;
  /* Typography */
  --font-family: "Saol Display Regular";
  --font-family-light: "Saol Display Light";
}

/****************************************
*    Base - Elements
*****************************************/
body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--primary);
  /*  font-family: var(--font-family-light); */
}

/****************************************
*    Componentes
*****************************************/

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  padding-top: 32px;
  padding-bottom: 37px;
}

.header h1 {
  font-size: 28px;
  padding-left: 26px;
}

.nav {
  padding-right: 26px;
}

.nav > * {
  padding-left: 1em;
}

/* Proyectos */
.proyectos {
  width: 346px;
  margin: auto;
}

.proyectos img {
  margin-bottom: 17px;
  filter: blur(4px);
  transition-duration: 0.2s;
}

.proyectos img:hover {
  filter: blur(0);
}

@media screen and (min-width: 40em) {
  /* Desktop */
  .proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    width: 90vw;
  }
}
