/* Tipografía */
@font-face {
  font-family: "Saol Display Italic";
  src: url("../assets/fonts/SaolDisplay-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Saol Display Regular";
  src: url("../assets/fonts/SaolDisplay-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Saol Display Light";
  src: url("../assets/fonts/SaolDisplay-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: black;
  --primary: white;
  --secondary: #fcb42a;
  /* Typography */
  --font-family: "Saol Display Regular";
  --font-family-light: "Saol Display Light";
  --font-family-italic: "Saol Display Italic";
}

/****************************************
*    Base - Elements
*****************************************/
body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-family-light);
}

a {
  text-decoration: none;
  color: var(--primary);
  /*  font-family: var(--font-family-light); */
}

/****************************************
*    Componentes
*****************************************/
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 2em 0;
  max-width: 80vw;
  margin: 0 auto;
}

.header h1 {
  font-size: 15px;
  padding: 0;
  font-family: var(--font-family-light);
}

@media screen and (min-width: 40em) {
  .header {
    font-size: 28px;
    padding-top: 40px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .header h1 {
    font-size: 28px;
    padding-left: 26px;
  }
}

/* Nav */
.nav {
  padding: 0;
  font-family: var(--font-family-italic);
}

.nav > * {
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav {
    padding-right: 26px;
    font-family: var(--font-family-italic);
  }

  .nav > * {
    padding-left: 2em;
  }
}

/* Footer */
.footer p {
  font-size: 18px;
  padding-left: 60px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: var(--font-family-light);
}

@media screen and (min-width: 40em) {
  .footer p {
    font-size: 16px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
/* Proyectos */
.proyectos {
  margin: auto;
}

.proyectos img {
  object-fit: cover;
  width: 500px;
  height: 537px;
  margin: 0 auto 17px auto;
  filter: blur(5px);
  transition-duration: 0.2s;
  border: 3px dotted white;
}

.proyectos img:hover {
  filter: blur(0);
}

@media screen and (min-width: 40em) {
  .proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    width: 90vw;
  }
}

/****************************************
*    Helpers
*****************************************/
/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
